
        #main {
            height: 821px;
            width: 1000px;
            display: none;
            margin: auto;
            background-color: rgb(255, 0, 238);
            margin-top: 50px;
            border: 6px solid black;
            position: relative;
        }
        .m{
            margin: -1px -11px;
            height: 59px;
            margin-top: 12px;
            display: inline-flex
;
        }
        .n{
            float: right;
        }
        .n p{
            font-size: 23px;
            margin: -108px 0;

            margin-left: 678px;
        }
        .n1{
            height: 63px;
            display: inline-flex;
            float: left;
        }
        .n2{
            height: 47px;
            width: 107px;
            margin: 110px -11px 43px 18px;
            padding-bottom: 319px;
            padding-left: 527px;
            float: right;
        }

        #child1 {
            height: 759px;
            width: 903px;
            background-color: white;
            margin: auto;
            position: absolute;
            margin-top: 25px;
            margin-left: 45px;
            border: 3px solid red;
        }

        .img1 {
            height: auto;
            width: 140px;
            float: left;
            margin-left: 50px;
            margin-top: 30px;
            border-radius: 20px;
        }

        #img2 {
            
            font-size: 85px;
            margin-top: 38px;
            margin-left: 280px;
        }i{
        height: 20px; 
        width: 20px;
        }

        .body {
            font-size: 50px;
            text-align: center;
            font-family:Bookman Old Style;
            font-weight: bolder;
            margin-top: -37px;
        }

        .body2 {
            font-size: 50px;
            text-align: center;
            font-family: Bookman Old Style;
            margin-left: 165px;
            font-weight: bolder;
        }

        #cform {
            text-align: center;
            height: 500px;
            width: 600px;
            margin: auto;
           
            border: 2px solid black;
            background-color: rgb(185, 79, 79);
          
        }

        #chform {
            height: 450px;
            width: 500px;
            background-color: white;
            
            border-radius: 40px;
            margin-left: 50px;
            margin-right: 45px;
        }

        #fname {
            height: 40px;
            width: 450px;
            border-style: ridge;
            border-radius: 5px;
        }

        #fdetails {
            border-style: ridge;
            border-radius: 5px;
            height: 40px;
            width: 450px;
        }

        #forganisername {
            height: 40px;
            border-style: ridge;
            border-radius: 5px;
            width: 450px;
        }

        #bcertificate {
            background-color: greenyellow;
            height: 40px;
            width: 180px;
            font-weight: bolder;
            float: left;
            border-radius: 4px;
            margin-left: 40px;
        }
        #downloaddata{
            height: 40px;
            
            width: 180px;
            background-color: rgb(77, 104, 243);
            color: black;
           
            border-radius: 4px;
            
            
        }

        .details {
            font-size: x-large;
            color: red;
        }

        .organisername {
            font-size: large;
            color: blue;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            flex-wrap: wrap;
        }

        #name {
            font-size: xx-large;
            background-color: rgb(0, 255, 106);
            font-family: Lucida Handwriting;
        }
      
    